# start [C ignores]
a.out*
# end [C ignores]

# start [Flask template]
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

## Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

## myenv for flask
venv/
# end [Flask template]
